---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
  
  <tags class="post-tags">
    Tags: {{ page.tags }}
  </tags>
  <br/>
  <pagenav>
    <a href="{{ page.prev.url }}"><< prev</a> | <a href="{{ page.next.url }}">next >></a>
  </pagenav>

</div>
